{% extends 'main/layout.html' %}

{% block title %}Список уроков{% endblock %}


{% block content %}
    <div class="features">
        <h1>Список уроков</h1>
        {# Проверяем на наличие записей в БД Уроков и перебираем по циклу, чтобы разделить #}
        <div class="lessons_list">
            {% if lessons %}
                {% for el in lessons %}
                    <div class="lesson_text">
                        <h3>{{ el.lesson_name }}</h3>
                        <p>{{ el.description }}</p>
                        <a href="{% url 'lesson-detail' el.id %}" class="btn btn-success">Посмотреть детальней</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас не добавлены уроки!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}