{% extends 'main/layout.html' %}

{% block title %}Список учителей{% endblock %}


{% block content %}
    <div class="features">
        <h1>Список учителей</h1>
        {# Проверяем на наличие записей в БД Учителей и перебираем по циклу, чтобы разделить #}
        <div class="lessons_list">
        {% if teachers %}
            {% for el in teachers %}
                <div class="lesson_text">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}{{ el.avatar.url }}" height="80" width="60" style="border-radius: 5px;"/>
                    </div>
                    <h3>{{ el.name }}</h3>
                    <p>Работает с {{ el.date_employment }}</p>
                    <a href="{% url 'teacher-detail' el.id %}" class="btn btn-success">Посмотреть детальней</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас не добавлены учителя!</p>
        {% endif %}
        </div>
    </div>
{% endblock %}