{% extends 'main/layout.html' %}

{% block title %}Список учителей{% endblock %}


{% block content %}
    <div class="teachers">
        <h1 class="teacher-title">Список учителей</h1>
        {# Проверяем на наличие записей в БД Учителей и перебираем по циклу, чтобы разделить #}
        <div class="teachers-list">
        {% if teachers %}
            {% for el in teachers %}
                <div class="teacher-block">
                    <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src="{{ MEDIA_URL }}{{ el.avatar.url }}" height="286" width="180" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title">{{ el.name }}</h5>
                              <p class="card-text">Работает с {{ el.date_employment }}</p>
                              <a href="{% url 'teacher-detail' el.id %}" class="btn btn-primary">Посмотреть детальней</a>
                          </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас не добавлены учителя!</p>
        {% endif %}
        </div>
    </div>
{% endblock %}